{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["warn", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/explicit-function-return-type": "warn",
		"require-await": "off",
		"@typescript-eslint/require-await": "error",
		"no-console": ["error", { "allow": ["warn", "error"] }]
	}
}
