/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.cfm-post {
	margin-left: 1rem;
	font-family: monospace;
	white-space: pre-wrap;
	width: 100%;
}

.cfm-inner-content {
	margin-bottom: 1rem;
}
